/*home index.html page*/




/*form.html page*/

.form-body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}
        /*first-container*/
.first-container{
  margin:70px 100px;
  text-align: center;
}

.first-container p {
  margin: auto 20rem;
font-size: 2vmin;
font-weight:500;

  
}

        /*second-container*/
.second-container{
  margin: 70px 100px;
}

.choiceHead {
  margin-bottom:60px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



      /* personal info*/

.labelLeft {
    text-align: left;
}
  
.donor-section {
display: grid;
margin: auto 40em;

}


input[type=text], input[type=email] ,select,option {
    width: 100%;
    padding: 9px 10px;
    margin: 11px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }


  
  .donorHead{
text-align: center;
      margin-bottom: 30px;
  }

  


  .animalNeed img{
    position: relative;
  display: flex;
    width:250px;
    height:200px;
    overflow: hidden;
    border-radius:50%;
  align-items: center;
    

  }

  .animalNeed p{
    width :100%;
    text-align: center;

  }

  
  
  
    input[type=number]{
      width:5%;
      border:1px solid #ccc;
      border-radius: 6px;
    }
  
  
    .donaInform h1{
      margin-top: 7vmin
    }
    .donaInform h4{
      margin:20px 
    }
  
    .drop{
      width:30%;
    }
     
    .paymargi{
     margin-left: 27vmin;
    }
   .space input[type=radio] {
      margin: 14px 0;
   }
  .space .creditCard{
      width:20%;
  }
   .space{
      padding-top: 20px;
   }
  
   .form-decor{
      width:10%;
      display: inline-block;
   }
  
   .cvv input[type=text]{
      width:10%;
   }
  
   
    
    button{
      width: 10%;
      background-color: lightgreen;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover{
      background-color: green;
      color:whitesmoke
    }
    
    
  @media only screen and (max-width:850px) {
      .donor-section{
          margin-left: 21vmin;
      }
      input[type=text],input[type=email],select{
          width: 80%;
          
      }
    input[type=number]{
      width:16%;
      border:1px solid #ccc;
      border-radius: 6px;
    }
  
    .drop{
      width:70%;
    }
    .paymargi{
      margin-left: 18vmin;
     }
  
     button{
      width: 30%;
     }
  
     .cvv input[type=text]{
      width:30%;
   }
  
   .space .creditCard{
      width:50%;
  }
  
  .form-decor{
      width:30%;
      display: inline-block;
   }
  }
    




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }