/*home index.html page*/

* {
  box-sizing: border-box;
}

.index-html {
  background-color: #fefae0;
  color:#000;
  text-align: center;
  height: 100%;
  font: normal 1em/1.5em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.search-bar {
  padding-right: 2.5em;
  z-index: 5;
}

#home {
  width: 100vw;
  height: 100px;
  background: rgb(250, 237, 205);
  border-radius: 100px / 50px;
  z-index: 0;
}

.topnav{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}

.mainnav {
  display: block;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgb(212, 163, 115);
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.mainnav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.mainnav li {
  display: block;
  background-color: #d4a373;
  padding: 0;
}

.mainnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

 /* Change the link color on hover */
 .mainnav li a:hover {
    background-color: #faedcd;
    color: black;
}

*::after {
  box-sizing: border-box;
}

#video-viewport {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

video {
  display: block;
  width: 100%;
  height: auto;
}

.fullsize-video-bg {
  height: 100%;
  overflow: hidden;
}

.fullsize-video-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.fullsize-video-bg .inner {
  display: table;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}

.fullsize-video-bg .inner>div {
  text-align: center;
  display: table-cell;
  vertical-align: auto;
  padding: 0 2em;
  color: white;
}

.donate-button {
  border-radius: 50%;
  background-color: rgb(212, 163, 115);

}

.stats-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-weight: bolder;
  padding-top: 2em;
}

#stat-circles {
    width: 125px;
    height: 125px;
    background: rgb(233, 237, 201);
    border-radius: 50%
}

.featured-pets-container {
  background-color: rgb(204, 213, 174);
}

.container {
  width: 200px;
  height: 120px;
}

/* Resize images */
.container img {
  display: flex;
  justify-content: space-around;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius:50%;
}

.view-more-button {
  background-color: rgb(212, 163, 115);
}

/*about.html page*/

.about-html {
  background-color: #fefae0;
  color:#000;
  text-align: center;
  height: 100%;
  font: normal 1em/1.5em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
}

.leadership-container {
  display: flex;
  flex-wrap: wrap;
}

.leadership-info {
  display: grid;
  grid-auto-columns: minmax(15rem, auto);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  padding: 3rem;
}

.leadership img { 
  height: 250px;
  width: 250px;
  border-radius: 50%;
}



/*form.html page*/

ul{
  list-style: none;
}

.navbar{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  width:100%;
  justify-content: space-around;
  padding:9px;
  color:whitesmoke;
  background: rgb(212, 163, 115);
}

.navbar li a {
  padding: 24px 7px;
}
.navbar li a:hover{
  background-color: #faedcd;
    color: black;
}


.link-bar{
  display:flex;
  align-items: center;

}


.link-bar li{
  margin:0 20px;
  cursor:pointer;
}


.stripes-button{
  position: absolute;
 width:55px;
  top:20px;
  right:20px;
  cursor:pointer;
  display: none;
}



.form-body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  
}
        /*first-container*/
.first-container{
  margin:70px 100px;
  text-align: center;
}

.first-container p {
  margin: auto 20rem;
font-size: 2vmin;
font-weight:500;
  
}

.first-container h1{
  padding-top: 70px;
}
        /*second-container*/
.second-container{
  margin: 70px 100px;
}

.choiceHead {
  margin-bottom:60px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.animalNeed img{
  position: relative;
  display: flex;
  width:250px;
  height:200px;
  overflow: hidden;
  border-radius:50%;
  align-items: center;
  

}

.animalNeed p{
  width :100%;
  text-align: center;

}



      /* personal info*/
.information{
  padding-top: 20px;
  background-color: beige;

}

  
.donor-section {
display: grid;
margin: auto 40em;

}


input[type=text], input[type=email] ,input[type=password],select,option {
    width: 100%;
    padding: 9px 10px;
    margin: 11px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }

  #fullname {
    display: grid;
    grid-template-columns: auto auto;
  }
  #fullname > div {
    padding: 0 3px;
  }

  #address{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  #address > div {
  padding: 0 6px;
 }

 #phone{
  width:50%
 }
 

    /*donation information */

   .donaInform {
    display: grid;
    margin: auto 40em;
   }
  
  .donorHead{
     text-align: center;
      margin: 25px auto;
  }

  .space input[type=radio] {
    margin: 14px 0;
   }
  
 
    .putAmount[type=text] {
      display: inline-block;
      width: 60px;
      height: 25px;
      border:1px solid #ccc;
      border-radius: 6px;
    }
  
  
    .monthlyOrOneTime {
      padding-top: 30px;
    }

    .dropDownMonthly{
      width: 50%;
    }




    .paymentHead{
      margin-top: 50px;
      text-align: center;
    }

    .creditSpace{
      padding-top: 20px ;
      padding-bottom: 20px;
    }

    .creditSpace .creditCard{
      width: 50%;
  }
  
    
     
    
   
  #expireMonthYear {
    display: grid;
    grid-template-columns: 120px 120px;
  }

  #expireMonthYear > div {
    padding: 0 3px;
  }

  
  .cvv{
    padding-bottom: 23px;
  }

   .cvv input[type=text]{
      width:21%;
   }
  

   .button{
    padding-bottom: 33px;
    text-align: center;
   }
    
    button{
      width: 36%;
      background-color: rgb(212, 163, 115);
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      
    }
  
    button:hover{
      background-color:burlywood;
      color:whitesmoke;
    }
    



    
  @media only screen and (min-width: 1366px) {

    .first-container p {
      margin: auto 15rem;
   }

    .donor-section {
      margin: auto 25em;
   }

    .donaInform {
      margin: auto 25em;
   }
  
}


@media only screen and (max-width:1366px) {

  .first-container{
    margin: 40px auto;
  }

  .first-container h1{
    font-size: 2em;
  }

  .donor-section {
    margin: auto 15em; 
  }
  
  .donaInform{
    margin: auto 15em;
  }

}

@media only screen and (max-width: 1200px){

  .first-container p {
    
  font-size: 2vmin;
  font-weight:500;
  }

  .dropDownMonthly{
    width: 70%;
  }

  .creditSpace .creditCard{
    width: 70%;
  }

  .first-container h1{
    padding-top:100px;
  }
   .first-container p{
   margin: auto 10rem;
   text-align: center;
   
   }
  .row{
    display: grid;
    grid-template-columns: auto auto;
  }

  .col{
    margin: 30px 0;
  }


 
  .animalNeed p{
    max-width :45%;
    text-align: center;
  
  }

  
}

@media only screen and (max-width: 720px){
  .dropDownMonthly{
    width: 80%;
  }

  .creditSpace .creditCard{
    width: 80%;
  }
  
  .first-container h1{
    padding-top: 80px;
  }

  .first-container{
    margin: auto 0;
    padding-bottom: 40px;
  }

  

  .first-container p {
    margin: auto 6rem;
    font-size: 1em;
  
    
  }
  .row {
    display: block;
    align-content: center;
   
  }

  .col img{
    z-index:-1;
  }

  .second-container{
    margin: auto 0;
  }

  .donor-section {
    margin: auto 5em; 
  }
  
  .donaInform{
    margin: auto 5em;
  }
  
    /* nav-bar mobile */


    .navbar{
   padding: 0;
      
   }
  
  

   .stripes-button{
       display: block;
       justify-content: space-between;
   }

   .link-bar{
    flex-direction: column;
   width: 100%;
   height:100vh;
   justify-content: center;
   background: rgb(212, 163, 115);
   opacity: 0.99;
   margin-top:-900px;  /* make the nav-bar go at the top*/
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   z-index: 0;
   
}
.mobile-button{
    margin-top:0;
}

.link-bar li{
    margin:25px auto;
    
}

}
    

/* contact page*/

.contact-body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family:'Poppins', sans-serif;
}

.wrapper{
  position: relative;
  margin: 0 auto;
margin-top: 8%;
margin-bottom: 5%;
  max-width: 550px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px  rgba(254,236,164,1); 
  background:#faedcd;
  z-index: -2;

}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background:  rgb(212, 163, 115); 

  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.btn{
  width:50%;
  margin: 0 auto;
}


#footer-contact h3{
  text-align: center;
}

@media only screen and (max-width: 720px){

  #footer-contact{
    text-align: center;
  }

  #footer-contact input[type=email]{
    width:50%;
    margin: 10px auto;

  }
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }